<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="estimate_mode"  default= "0" />
  <arg name="contour_area_min_thre"  default= "0.1" />
  <arg name="target_tf_name" default="target_object"/>
  <arg name="cheating_fire"  default= "False" /> <!-- use primitive object instead of real fire -->
  <arg name="horizontal_vio" default="False" />
  <arg name="headless" default="True" />
  <arg name="motion_config_filename" default="motion_outdoor.yaml"/>
  <arg name="waypoint_config_filename" default="waypoint_simulation.yaml"/>
  <arg name="dummy_target" default="False"/>
  <arg name="dummy_x" default="0"/>
  <arg name="dummy_y" default="0"/>
  <arg name="dummy_z" default="0"/>
  <arg name="all_contour" default="true"/>
  <arg name="skip_search" default="false"/>

  ##########  basic bringup file ########
  <include file="$(find mbzirc2020_task3_common)/launch/bringup.launch" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="horizontal_vio" value="$(arg horizontal_vio)" />
    <arg name="cheating_fire"  value= "$(arg cheating_fire)" />
  </include>

  ########## recognition ###############
  ########### real machine #############
  <include file="$(find mbzirc2020_task3_tasks)/launch/find_ground_fire.launch"  if="$(eval real_machine and not dummy_target)">
    <arg name="all_contour" value="$(arg all_contour)" />
  </include>

  ########### simulation ###############
  <include file="$(find aerial_robot_perception)/launch/single_color_ground_object_detection.launch" if="$(eval simulation and not dummy_target)">
    <arg name="image_topic" value="/flir/image_raw"/>
    <arg name="camera_info_topic" value="/flir/camera_info"/>
    <arg name="output_screen" value="true"/>

    <!-- TODO: please set following paramters in yaml file -->
    <!-- object property -->
    <arg name="object_height" value="0.02"/>

    <!-- red color object -->
    <arg name="contour_area_size" value="0.0"/>
    <arg name="contour_area_min_thre" value="$(arg contour_area_min_thre)"/>
    <arg name="s_limit_max" value="255" />
    <arg name="s_limit_min" value="60" />
    <arg name="v_limit_max" value="255" />
    <arg name="v_limit_min" value="60" />
  </include>

  ########### dummy target #############
  <node pkg="mbzirc2020_task3_tasks" type="dummy_target_publisher.py" name="dummy_target_publisher" output="screen" if="$(arg dummy_target)">
    <param name="dummy_x" value="$(arg dummy_x)"/>
    <param name="dummy_y" value="$(arg dummy_y)"/>
    <param name="dummy_z" value="$(arg dummy_z)"/>
  </node>

  ########## motion planner ###############
  <!-- <node pkg="mbzirc2020_task3_tasks" type="motion.py" name="task3_motion_planner" output="screen"> -->
  <node pkg="mbzirc2020_task3_tasks" type="find_ground_fire.py" name="task3_motion_planner" output="screen">
    <param name="target_tf_name" value="$(arg target_tf_name)"/>
    <param name="is_bypass" value="$(arg skip_search)"/>
    <rosparam file="$(find mbzirc2020_task3_tasks)/config/$(arg motion_config_filename)" command="load"/>
    <rosparam file="$(find mbzirc2020_task3_tasks)/config/$(arg waypoint_config_filename)" command="load"/>
  </node>

  ########## rosbag recorder ##############
  <node pkg="mbzirc2020_task3_tasks" type="rosbag.sh" name="rosbag">
  </node>
</launch>
