<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default=""/>
  <arg name="robot_ns" default="hydrus$(arg robot_id)"/>
  <arg name="leader" default="True" />
  <arg name="simulation" default="False" />
  <arg name="real_machine" default="True" />
  <arg name="headless" default="True" />
  <arg name="launch_gazebo" default="False" />
  <arg name="passive_gripper" default="False" />
  <arg name="ring_gripper" default="False" />
  <arg name="ball_joint_gripper" default="False" />
  <arg name="outdoor" default="true" />
  <arg name="estimate_mode" default="0" if="$(arg outdoor)"/>
  <arg name="estimate_mode" default="1" unless="$(arg outdoor)"/>
  <arg name="rtk_gps" default="True" if="$(arg outdoor)"/>
  <arg name="rtk_gps" default="False" unless="$(arg outdoor)"/>
  <arg name="worldtype" default="kashiwa" />
  <arg name="recognition" default="true" />
  <arg name="ft_sensor_feedback" default="false" />
  <arg name="rviz_config_path" default="$(find mbzirc2020_task2_simulation)/config/rviz_config"/>
  <arg name="config_dir" default="$(find mbzirc2020_task2_common)/config/challenge/$(arg worldtype)"/>
  <arg name="object_color" default="red" />

  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_yaw" default="0.0"/>

  <arg name="sensor_takeoff" default="False"/>
  <arg name="sensor_landing" default="False"/>

  <arg name="role" value="leader" if="$(arg leader)"/>
  <arg name="role" value="follower" unless="$(arg leader)"/>

  <arg name="model" value="ball_joint_gripper" if="$(arg ball_joint_gripper)"/>
  <arg name="model" value="ring_gripper" if="$(arg ring_gripper)"/>

  # bringup
  <include file="$(find mbzirc2020_task2_common)/launch/bringup.launch">
    <arg name="simulation" value="$(arg simulation)"/>
    <arg name="real_machine" value="$(arg real_machine)"/>
    <arg name="launch_gazebo" value="$(arg launch_gazebo)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="rtk_gps"  value= "$(arg rtk_gps)" />
    <arg name="ball_joint_gripper" value="True"/>
    <arg name="worldtype" value="$(arg worldtype)"/>
    <arg name="rviz_config_path" value="$(arg rviz_config_path)"/>
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="spawn_x" default="$(arg spawn_x)"/>
    <arg name="spawn_y" default="$(arg spawn_y)"/>
    <arg name="spawn_yaw" default="$(arg spawn_yaw)"/>
  </include>

  # cfs sensor
  <group ns="$(arg robot_ns)">
    <include file="$(find mbzirc2020_task2_common)/launch/two_tf_sensors.launch" if="$(eval arg('real_machine') and arg('ft_sensor_feedback'))"/>
  </group>

  <param name="/$(arg robot_ns)/tf_prefix" value="$(arg robot_ns)"/>

  # convert simulation sensor topic into real sensor topic
  <group ns="$(arg robot_ns)">
    <node name="ft_sensor_calib" 
          pkg="mbzirc2020_task2_tasks" 
          type="ft_sensor_calib.py" 
          output="screen" 
          if="$(arg simulation)" />
  </group>

  # ft_sensor node
  <group ns="$(arg robot_ns)">
    <node name="ft_sensor_feedback_navigation"
          pkg="mbzirc2020_task2_common"
          type="ft_sensor_feedback_navigation.py" 
          output="screen" 
          if="$(arg ft_sensor_feedback)"> 
      <param name="robot_ns" value="$(arg robot_ns)"/> 
      <param name="sensor_takeoff" value="$(arg sensor_takeoff)"/>
      <param name="sensor_landing" value="$(arg sensor_landing)"/>
      <rosparam command="load" file="$(find mbzirc2020_task2_common)/config/_ball_joint_gripper/FTSensorFeedbackConfig.yaml"/>
    </node>
  </group>

  # recognition
  <group ns="$(arg robot_ns)">
    <include file="$(find mbzirc2020_task2_tasks)/launch/recognition.launch" if="$(arg recognition)">
      <arg name="tf_prefix" value="$(arg robot_ns)/" />
      <arg name="config_dir" value="$(arg config_dir)"/>
      <arg name="object_color" value="$(arg object_color)"/>
      <arg name="external_manager" value="false"/>
    </include>
  </group>

  # task smach
  <group ns="$(arg robot_ns)">
    <node name="two_hydrus_task_$(arg role)"
          pkg="mbzirc2020_task2_tasks"
          type="two_hydrus_task_$(arg role).py" 
          output="screen">
      <rosparam command="load" file="$(arg config_dir)/Motion.yaml"/>
      <rosparam command="load" file="$(arg config_dir)/$(arg object_color)/Motion.yaml"/>
      <rosparam command="load" file="$(arg config_dir)/Field.yaml"/>
      <rosparam command="load" file="$(arg config_dir)/$(arg model)/Grasp.yaml"/>
      <param name="robot_ns" value="$(arg robot_ns)"/> 
      <param name="ft_sensor_feedback" value="$(arg ft_sensor_feedback)" />
    </node>
  </group>

</launch>
