<?xml version="1.0"?>
<launch>
  
  <arg name="robot_id_leader" default="1" />
  <arg name="robot_ns_leader" value="hydrus$(arg robot_id_leader)"/>
  <arg name="recognition_leader" default="true"/>
  <arg name="ft_sensor_feedback_leader" default="false" />

  <arg name="robot_id_follower" default="2" />
  <arg name="robot_ns_follower" value="hydrus$(arg robot_id_follower)"/>
  <arg name="recognition_follower" default="true"/>
  <arg name="ft_sensor_feedback_follower" default="false" />

  <arg name="simulation" default="False" />
  <arg name="real_machine" default="True" />
  <arg name="headless" default="True" />

  <arg name="skip_pick" default="True" />

  <arg name="outdoor" default="True" />
  <arg name="estimate_mode" default="0" if="$(arg outdoor)"/>
  <arg name="estimate_mode" default="1" unless="$(arg outdoor)"/>
  <arg name="rtk_gps" default="True" if="$(arg outdoor)"/>
  <arg name="rtk_gps" default="False" unless="$(arg outdoor)"/>
  <arg name="worldtype" default="kashiwa_202104" if="$(eval not arg('skip_pick') and arg('outdoor'))" />
  <arg name="worldtype" default="kashiwa_202104_single_long_object" if="$(eval arg('skip_pick') and arg('outdoor'))"/>
  <arg name="worldtype" default="kashiwa113_202104_single_long_object" unless="$(arg outdoor)"/>

  <arg name="config_dir" default="$(find mbzirc2020_task2_common)/config/challenge/$(arg worldtype)/real" if="$(arg real_machine)"/>
  <arg name="config_dir" default="$(find mbzirc2020_task2_common)/config/challenge/$(arg worldtype)/sim" if="$(arg simulation)"/>

  <arg name="ball_joint_gripper" default="True"/>
  <arg name="model" value="ball_joint_gripper" if="$(arg ball_joint_gripper)"/>
  <arg name="ring_gripper" default="False" />
  <arg name="model" value="ring_gripper" if="$(arg ring_gripper)"/>
  <arg name="object_color" default="red" />

  <arg name="rviz_config_path" default="$(arg config_dir)/two_hydrus_rviz_config"/>

  # joy_stick for the leader machine
  <include file="$(find aerial_robot_base)/launch/external_module/joy_stick.launch" 
           if="$(arg real_machine)">
    <arg name="robot_name" value="$(arg robot_ns_leader)"/>
  </include>

  # passing joy_stick values to the follower machine
  <node name="joy_stick_bridge"
        pkg="mbzirc2020_task2_common"
        type="joy_stick_bridge.py"
        output="screen" 
        if="$(arg real_machine)">
    <param name="robot_ns_master" value="$(arg robot_ns_leader)"/>
    <param name="robot_ns_slave" value="$(arg robot_ns_follower)"/>
  </node>


  # leader machine
  <include file="$(find mbzirc2020_task2_common)/launch/multirobot/coop_task_agent_leader.launch" 
           if="$(arg simulation)">
    <arg name="robot_id"  value="$(arg robot_id_leader)" /> 
    <arg name="ball_joint_gripper" value="true" />
    <arg name="simulation" value="true"/>
    <arg name="real_machine" value="false" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="worldtype" value="$(arg worldtype)" />
    <arg name="config_dir" value="$(arg config_dir)"/>
    <arg name="object_color" value="$(arg object_color)"/>
    <arg name="launch_gazebo" value="true" />
    <arg name="outdoor" value="$(arg outdoor)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="rtk_gps"  value= "$(arg rtk_gps)" />
    <arg name="recognition" value="$(arg recognition_leader)" />
    <arg name="ft_sensor_feedback" value="$(arg ft_sensor_feedback_leader)" />
    <arg name="rviz_config_path" value="$(arg rviz_config_path)"/>
    <arg name="spawn_x" default="1.8" if="$(arg outdoor)"/>
    <arg name="spawn_y" default="0.2" if="$(arg outdoor)"/>
    <arg name="spawn_yaw" default="2.36" if="$(arg outdoor)"/>
    <arg name="spawn_x" default="-1.65" unless="$(arg outdoor)"/>
    <arg name="spawn_y" default="0.2" unless="$(arg outdoor)"/>
    <arg name="spawn_yaw" default="2.36" unless="$(arg outdoor)"/>
  </include>

  # follower machine
  <include file="$(find mbzirc2020_task2_common)/launch/multirobot/coop_task_agent_follower.launch" 
           if="$(arg simulation)">
    <arg name="robot_id"  value="$(arg robot_id_follower)" /> 
    <arg name="ball_joint_gripper" value="true" />
    <arg name="simulation" value="true"/>
    <arg name="real_machine" value="false" />
    <arg name="headless" value="true" />
    <arg name="config_dir" value="$(arg config_dir)"/>
    <arg name="object_color" value="$(arg object_color)"/>
    <arg name="launch_gazebo" value="false" />
    <arg name="outdoor" value="$(arg outdoor)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="rtk_gps"  value= "$(arg rtk_gps)" />
    <arg name="recognition" value="$(arg recognition_follower)" />
    <arg name="ft_sensor_feedback" value="$(arg ft_sensor_feedback_follower)" />
    <arg name="worldtype" value="$(arg worldtype)" />
    <arg name="spawn_x" default="0.1" if="$(arg outdoor)"/>
    <arg name="spawn_y" default="-0.2" if="$(arg outdoor)"/>
    <arg name="spawn_yaw" default="-0.78" if="$(arg outdoor)"/>
    <arg name="spawn_x" default="-3.35" unless="$(arg outdoor)"/>
    <arg name="spawn_y" default="-0.2" unless="$(arg outdoor)"/>
    <arg name="spawn_yaw" default="-0.78" unless="$(arg outdoor)"/>
    </include>

  # task
  <node name="two_hydrus_task"
        type="two_hydrus_task.py"
        pkg="mbzirc2020_task2_tasks"
        output="screen">
    <param name="robot_ns_leader" value="$(arg robot_ns_leader)"/>
    <param name="robot_ns_follower" value="$(arg robot_ns_follower)"/>
    <param name="skip_pick" value="$(arg skip_pick)"/>
  </node>

  # if real_machine,  in each machine:
  # $ rossetlaptop
  # $ roslaunch mbzirc2020_task2_common coop_task_agent.launch in each machine.

  <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer"/>

</launch>
