<?xml version="1.0"?>
<launch>
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="ring_gripper" default="False"/>
  <arg name="ball_joint_gripper" default="False"/>
  <arg name="worldtype" default="single_long_object" />
  <arg name="hydrus1_ball_joint_gripper" default="False"/>
  <arg name="headless" default="False" />
  <arg name="rviz_config_path" default="$(find mbzirc2020_task2_simulation)/config/two_hydrus_rviz_config"/>

  # hydrus1
  <arg name="robot1_spawn_x" default="0.6"/>
  <arg name="robot1_spawn_y" default="-0.85"/>
  <arg name="robot1_spawn_yaw" default="0.78"/>

  <include file="$(find mbzirc2020_task2_common)/launch/bringup.launch">
    <arg name="real_machine" value="$(arg real_machine)"/>
    <arg name="simulation" value="$(arg simulation)"/>
    <arg name="ring_gripper" value="True" unless="$(arg hydrus1_ball_joint_gripper)"/>
    <arg name="ring_gripper" value="False" if="$(arg hydrus1_ball_joint_gripper)"/>
    <arg name="ball_joint_gripper" value="$(arg hydrus1_ball_joint_gripper)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="worldtype" value="$(arg worldtype)"/>
    <arg name="rviz_config_path" value="$(arg rviz_config_path)"/>
    <arg name="robot_id" value="1" />
    <arg name="spawn_x" default="$(arg robot1_spawn_x)"/>
    <arg name="spawn_y" default="$(arg robot1_spawn_y)"/>
    <arg name="spawn_yaw" default="$(arg robot1_spawn_yaw)"/>
  </include>

  # hydrus2
  <arg name="robot2_spawn_x" default="-0.6"/>
  <arg name="robot2_spawn_y" default="0.85"/>
  <arg name="robot2_spawn_yaw" default="3.93"/>

  <include file="$(find mbzirc2020_task2_common)/launch/bringup.launch">
    <arg name="real_machine" value="$(arg real_machine)"/>
    <arg name="simulation" value="$(arg simulation)"/>
    <arg name="ring_gripper" value="False"/>
    <arg name="ball_joint_gripper" value="True"/>
    <arg name="headless" value="True"/>
    <arg name="launch_gazebo" value="False" />
    <arg name="robot_id" value="2" />
    <arg name="spawn_x" default="$(arg robot2_spawn_x)"/>
    <arg name="spawn_y" default="$(arg robot2_spawn_y)"/>
    <arg name="spawn_yaw" default="$(arg robot2_spawn_yaw)"/>
  </include>

  # navigate hydrus2 by ft_sensor
  <node name="ft_sensor_feedback_navigation"
        pkg="mbzirc2020_task2_common"
        type="ft_sensor_feedback_navigation.py"
        output="screen" >

        <param name="robot_ns" value="hydrus2"/>

  </node>

  # convert simulation sensor topic into real sensor topic
  <node name="ft_sensor_calib"
        type="ft_sensor_calib.py"
        pkg="mbzirc2020_task2_simulation"
        output="screen"
        if="$(arg simulation)" >

        <param name="robot_ns" value="hydrus2"/>

  </node>

  #plot juggler
  <node name="plotjuggler"
        pkg="plotjuggler"
        type="plotjuggler"
        args="--layout $(find mbzirc2020_task2_common)/launch/multirobot/plotjuggler_hold_with_ft_sensor.xml"/>

</launch>
