<launch>
  <arg name="headless" default="False" />
  <arg name="description_mode" default="urdf"/>
  <arg name="need_joint_state" default="true" />
  <arg name="task" default="1" />
  <arg name="horizontal_vio" default="0" />
  <arg name="model_suffix" default="" />
  <arg name="rviz_config_path" default="$(find aerial_robot_model)/launch/rviz_config"/>

  <arg name="robot_model" value="$(find mbzirc2020_common)/../mbzirc2020_task$(arg task)/mbzirc2020_task$(arg task)_common/robots/hydrus$(arg model_suffix).$(arg description_mode).xacro" />

  <group ns="hydrusx" >
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <rosparam file = "$(find mbzirc2020_common)/config/RvizInit.yaml" command="load" />
    <group if="$(arg need_joint_state)">
      <param name="use_gui" value="true" />
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="robot_description"
               command="$(find xacro)/xacro '$(arg robot_model)' horizontal_vio:=$(arg horizontal_vio)" />
      </node >
    </group>

    <node name="aerial_robot_model" pkg="aerial_robot_model" type="rotor_tf_publisher" unless="$(arg need_joint_state)"/>

  </group>

  <!-- not good -->
  <!-- global namespace -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)' horizontal_vio:=$(arg horizontal_vio)" />

  <node name="$(anon rviz)" pkg="rviz" type="rviz" unless="$(arg headless)"
        args="-d $(arg rviz_config_path)" respawn="true" />
</launch>
