<launch>
  <arg name="world" default="default"/>
  <arg name="robot_ns" default="hydrus"/>
  <arg name="object_color" default="red"/>
  <arg name="debug_scan_pick_area" default="false"/>
  <arg name="debug_pick_visual_servoing" default="false"/>
  <arg name="debug_grasp" default="false"/>
  <arg name="debug_approach_place_area" default="false"/>

  ### bringup
  <include file="$(find mbzirc2020_task2_common)/launch/bringup.launch">
    <arg name="real_machine" value="false"/>
    <arg name="simulation" value="true"/>
    <arg name="ring_gripper" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="rviz_config_path" value="$(find mbzirc2020_task2_simulation)/config/rviz_config"/>
    <arg name="worldtype" value="$(arg world)"/>
  </include>

  <group ns="$(arg robot_ns)">
    ### motion
    <include file="$(find mbzirc2020_task2_tasks)/launch/motion.launch">
      <arg name="config_dir" value="$(find mbzirc2020_task2_simulation)/config/$(arg world)"/>
      <arg name="object_color" value="$(arg object_color)"/>
      <arg name="debug_scan_pick_area" value="$(arg debug_scan_pick_area)"/>
      <arg name="debug_pick_visual_servoing" value="$(arg debug_pick_visual_servoing)"/>
      <arg name="debug_grasp" value="$(arg debug_grasp)"/>
      <arg name="debug_approach_place_area" value="$(arg debug_approach_place_area)"/>
    </include>

    ### recognition
    <include file="$(find mbzirc2020_task2_tasks)/launch/recognition.launch">
      <arg name="config_dir" value="$(find mbzirc2020_task2_simulation)/config/$(arg world)"/>
      <arg name="object_color" value="$(arg object_color)"/>
      <arg name="external_manager" value="false"/>
    </include>

    ### smach viewer
    <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer"/>
  </group>

  <node pkg="rosservice" type="rosservice" name="set_move_base_log_level" args="call --wait /hydrus/task2_recognition_manager/set_logger_level 'ros' 'Fatal'" />
</launch>
