<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="False" />
  <arg name="simulation" default="True" />
  <arg name="control_mode" default="0" />
  <arg name="estimate_mode"  default= "0" />
  <arg name="headless" default="False" />

  ##########  basic bringup file ########
  <include file="$(find hydrus)/launch/bringup.launch" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="control_mode" value="$(arg control_mode)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="type" value="quad" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="worldtype" value="$(find hydrus_ground_transportation)/gazebo_model/world/single_color_object.world" />
    <arg name="direct_model" value="True" />
    <arg name="direct_model_name" value="$(find hydrus_ground_transportation)/robots/hydrus.urdf.xacro" if="$(eval (1 - arg('simulation')))"/>
    <arg name="direct_model_name" value="$(find hydrus_ground_transportation)/robots/hydrus.gazebo.xacro" if="$(eval arg('simulation'))"/>
  </include>


  ######### config for actuated legs ###
  <rosparam file="$(find hydrus_ground_transportation)/config/actuated_legs.yaml" command="load" />

</launch>
