<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <!-- robot urdf -->
  <xacro:include filename="$(find mbzirc2020_task2_common)/robots/quad/mbzirc2020_task2_quad.urdf.xacro" />

  <!-- gazebo plugin for sensors -->
  <xacro:include filename="$(find mbzirc2020_task2_common)/robots/onboards/mbzirc2020_task2_quad/onboards.gazebo.xacro" />

</robot>
