<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="control_mode" default="0" />
  <arg name="estimate_mode"  default= "0" />
  <arg name="headless" default="True" />
  <arg name="launch_gazebo" default="False" />
  <arg name="monocular_camera" default="True" />
  <arg name="camera_pitch_angle" default="-0.087" />
  <arg name="camera_height" default="0" />
  <arg name="camera_name" default="elp_1080P_fov60" />

  ##########  basic bringup file ########
  <include file="$(find mbzirc2020_common)/launch/bringup.launch" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="control_mode" value="$(arg control_mode)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="task" value="1" />
    <arg name="launch_gazebo" value="$(arg launch_gazebo)" />
    <arg name="worldtype" value="$(find mbzirc2020_task1_common)/gazebo_model/world/mbzirc_arena_task_1.world" />
  </include>

  <group if="$(arg real_machine)">
    ######### monocular camera (ELP-SUSB1080P) ######
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" if="$(arg monocular_camera)" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="1920" />
      <param name="image_height" value="1080" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="color_camera_optical_frame" />
      <param name="camera_info_url" value="file://$(find mbzirc2020_task1_common)/config/camera/$(arg camera_name).yaml" />
      <param name="camera_name" value="$(arg camera_name)" />
      <param name="io_method" value="mmap"/>
      <param name="image_raw/compressed/jpeg_quality" value="20" />
    </node>

    ######### realsense d435 ###########
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="3 realsense2_camera rs_rgbd.launch camera:=rs_d435 color_width:=1280 color_height:=720"
          name="timed_roslaunch" output="screen" unless="$(arg monocular_camera)" />

    <param name="/rs_d435/color/image_raw/compressed/jpeg_quality" value="20" />
    <param name="/rs_d435/color/image_rect_color/compressed/jpeg_quality" value="20" />
  </group>

  <!-- the teleop local frame -->
  <param name="aerial_robot_base_node/navigator/teleop_local_frame" value="monocular_camera_unit" if="$(arg monocular_camera)" />
  <param name="aerial_robot_base_node/navigator/teleop_local_frame" value="rs_d435_unit" unless="$(arg monocular_camera)" />


  <!-- override robot model -->
  <arg name="robot_model" value="$(find mbzirc2020_task1_common)/robots/hydrus.urdf.xacro" unless="$(arg simulation)" />
  <arg name="robot_model" value="$(find mbzirc2020_task1_common)/robots/hydrus.gazebo.xacro" if="$(arg simulation)" />

  <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)' monocular_camera:=$(arg monocular_camera) camera_height:=$(arg camera_height) camera_pitch_angle:=$(arg camera_pitch_angle)" />
  <group ns="hydrusx" >
    <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)' monocular_camera:=$(arg monocular_camera) camera_height:=$(arg camera_height) camera_pitch_angle:=$(arg camera_pitch_angle)" />
  </group >

</launch>
