<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <!-- base robot model -->
  <xacro:include filename="$(find mbzirc2020_task3_common)/robots/hydrus.urdf.xacro" />

  <!-- gazebo plugin for sensors -->
  <xacro:include filename="$(find mbzirc2020_common)/robots/default.gazebo.xacro" />

  <!-- gazebo for FLIR -->
  <!-- RGB camera instead of IR camera -->
  <gazebo reference="lepton_camera">
    <sensor type="camera" name="flir_thermal_camera">
      <update_rate>20.0</update_rate>
      <camera name="thermal">
        <horizontal_fov>1.57</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>flir</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>lepton_camera_optical</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

</robot>
