<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <!-- base robot model -->
  <xacro:include filename="$(find hydrus)/robots/quad/euclid201806.urdf.xacro" />

  <!-- additional modules -->
  <xacro:include filename="$(find hydrus_ground_transportation)/robots/ground/additional_modules.urdf.xacro" />

</robot>
