<launch>
  <arg name="object_pos_recognition" default="true"/>
  <arg name="smach_viewer" default="true"/>

  <node name="task2_motion" type="task2_motion.py" pkg="mbzirc2020_task2_tasks"
        output="screen">
    <rosparam command="load" file="$(find mbzirc2020_task2_tasks)/config/Motion.yaml"/>
  </node>

  <group if="$(arg object_pos_recognition)">
    <include file="$(find mbzirc2020_task2_tasks)/launch/recognition.launch"/>
  </group>

  <group unless="$(arg object_pos_recognition)">
    <node name="dummy_object_tf_publisher"
          type="dummy_object_tf_publisher.py"
       pkg="mbzirc2020_task2_tasks">
    <rosparam command="load" file="$(find mbzirc2020_task2_tasks)/config/Motion.yaml"/>
    </node>
  </group>


  <node if="$(arg smach_viewer)"
        name="smach_viewer" type="smach_viewer.py" pkg="smach_viewer"/>
</launch>
