<launch>
  <arg name="config_dir" />
  <arg name="object_color"/>
  <arg name="debug_scan_pick_area" default="false"/>
  <arg name="debug_pick_visual_servoing" default="false"/>
  <arg name="debug_grasp" default="false"/>
  <arg name="debug_approach_place_area" default="false"/>

  <group ns="task2_motion">
    <group if="$(arg debug_scan_pick_area)">
      <rosparam>
        skip_takeoff: true
        skip_approach_pick_area: true
        skip_scan_pick_area: false
        skip_pick_visual_servoing: false
        skip_grasp: false
        skip_approach_place_area: false
        skip_place_visual_servoing: false
        skip_ungrasp: false
      </rosparam>
    </group>

    <group if="$(arg debug_pick_visual_servoing)">
      <rosparam>
        skip_takeoff: true
        skip_approach_pick_area: true
        skip_scan_pick_area: true
        skip_pick_visual_servoing: false
        skip_grasp: false
        skip_approach_place_area: false
        skip_place_visual_servoing: false
        skip_ungrasp: false
      </rosparam>
    </group>

    <group if="$(arg debug_grasp)">
      <rosparam>
        skip_takeoff: true
        skip_approach_pick_area: true
        skip_scan_pick_area: true
        skip_pick_visual_servoing: true
        skip_grasp: false
        skip_approach_place_area: false
        skip_place_visual_servoing: false
        skip_ungrasp: false
      </rosparam>
    </group>

    <group if="$(arg debug_approach_place_area)">
      <rosparam>
        skip_takeoff: true
        skip_approach_pick_area: true
        skip_scan_pick_area: true
        skip_pick_visual_servoing: true
        skip_grasp: true
        skip_approach_place_area: false
        skip_place_visual_servoing: false
        skip_ungrasp: false
      </rosparam>
    </group>

  </group>

  <node name="task2_motion" type="task2_motion.py" pkg="mbzirc2020_task2_tasks"
        output="screen">
    <rosparam command="load" file="$(arg config_dir)/Motion.yaml"/>
    <rosparam command="load" file="$(arg config_dir)/$(arg object_color)/Motion.yaml"/>
    <rosparam command="load" file="$(arg config_dir)/Field.yaml"/>
  </node>

  <node pkg="jsk_rviz_plugins" type="rosconsole_overlay_text.py" respawn="true" name="rosconsole_overlay_text">
    <rosparam>
      nodes: ["/hydrus/task2_motion"]
      reverse_lines: false
    </rosparam>
  </node>

</launch>
