<?xml version="1.0" encoding="utf-8"?>
<launch>
  ### plane detection ###
  <arg name="gui" default="true"/>

  <arg name="INPUT_CLOUD" value="/rs_d435/depth_registered/points" />

  <node name="sample_manager"
        pkg="nodelet" type="nodelet"
        args="manager"/>

  <node pkg="nodelet" type="nodelet" name="throttle" respawn="true"
	args="load jsk_topic_tools/LightweightThrottle sample_manager">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~output" to="$(arg INPUT_CLOUD)_throttle" />
    <param name="update_rate" value="1.0" />
  </node>

  <node pkg="nodelet" type="nodelet" name="throttle2" respawn="true"
	args="load jsk_topic_tools/LightweightThrottle sample_manager">
    <remap from="~input" to="/rs_d435/color/image_rect_color" />
    <remap from="~output" to="/rs_d435/color/image_rect_color_throttle" />
    <param name="update_rate" value="0.5" />
  </node>

  
  <node name="passthrough_filter_right"
        pkg="nodelet" type="nodelet"
        args="load pcl/PassThrough /sample_manager">
    <!--<remap from="~input" to="$(arg INPUT_CLOUD)" />-->
    <remap from="~input" to="$(arg INPUT_CLOUD)_throttle" />
    <rosparam>
      keep_organized: true
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 1.3
      filter_limit_negative: False
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="hsi_filter_red" respawn="true"
        args="load jsk_pcl/HSIColorFilter sample_manager" >
    <remap from="~input" to="passthrough_filter_right/output" />
    <rosparam>
      use_indices: false
      keep_organized: true
    </rosparam>
    <param name="h_limit_max" value="50" />
    <param name="h_limit_min" value="-50" />
    <param name="s_limit_max" value="255" />
    <param name="s_limit_min" value="100" />
    <param name="i_limit_max" value="255" />
    <param name="i_limit_min" value="0" />
  </node>

  <node name="input_relay" pkg="nodelet" type="nodelet" respawn="true"
        args="load jsk_topic_tools/Relay /sample_manager">
    <remap from="~input" to="hsi_filter_red/output" />
  </node>

  <node name="multi_plane_estimate" pkg="nodelet" type="nodelet"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation /sample_manager">
    <remap from="~input" to="input_relay/output" />
    <rosparam>
      publish_normal: True
      max_curvature: 0.03
      min_size: 300
      angular_threshold: 0.10
      distance_threshold: 0.10
      connect_plane_angle_threshold: 0.3
      connect_distance_threshold: 0.03
      min_refined_area_threshold: 0.01
    </rosparam>
  </node>

  ### object detection
  <include file="$(find mbzirc2020_task2_tasks)/launch/object_detection_from_plane.launch" />

</launch>
