<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="control_mode" default="0" />
  <arg name="estimate_mode"  default= "0" />
  <arg name="horizontal_vio" default="False" />
  <arg name="ground_mode" default="False" />
  <arg name="worldtype" default="light" />

  ##########  basic bringup file ########
  <include file="$(find mbzirc2020_common)/launch/bringup.launch" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="control_mode" value="$(arg control_mode)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="horizontal_vio" value="$(arg horizontal_vio)" />
    <arg name="worldtype" value="$(find mbzirc2020_task2_simulation)/gazebo_model/world/mbzirc2020_task2_$(arg worldtype).world" />

    <arg name="task" value="2" />
    <arg name="model_suffix" value="_ground_mode" if="$(arg ground_mode)"/>
  </include>

  ######### config for actuated legs #########
  <rosparam file="$(find mbzirc2020_task2_common)/config/_ground_mode/ActuatedLegs.yaml" command="load" if="$(arg ground_mode)"/>

  ########## servo for realsense d435  ########
  <rosparam file="$(find mbzirc2020_task2_common)/config/RealsenseServo.yaml" command="load" unless="$(arg ground_mode)"/>

</launch>
