<launch>
  <arg name="world" default="kashiwa_202009"/>
  <arg name="robot_ns" default="hydrus"/>
  <arg name="object_color" default="red"/>
  <arg name="debug_scan_pick_area" default="false"/>
  <arg name="debug_pick_visual_servoing" default="false"/>
  <arg name="debug_grasp" default="false"/>
  <arg name="debug_approach_place_area" default="false"/>
  <arg name="estimate_mode" default="0"/>

  ### bringup
  <include file="$(find mbzirc2020_task2_common)/launch/bringup.launch">
    <arg name="real_machine" value="True"/>
    <arg name="simulation" value="false"/>
    <arg name="estimate_mode" value="$(arg estimate_mode)"/>
    <arg name="ring_gripper" value="true"/>
    <arg name="headless" value="true"/>
  </include>

  <group ns="$(arg robot_ns)">
    ### motion
    <include file="$(find mbzirc2020_task2_tasks)/launch/motion.launch">
      <arg name="config_dir" value="$(find mbzirc2020_task2_common)/config/challenge/$(arg world)"/>
      <arg name="object_color" value="$(arg object_color)"/>
      <arg name="debug_scan_pick_area" value="$(arg debug_scan_pick_area)"/>
      <arg name="debug_pick_visual_servoing" value="$(arg debug_pick_visual_servoing)"/>
      <arg name="debug_grasp" value="$(arg debug_grasp)"/>
      <arg name="debug_approach_place_area" value="$(arg debug_approach_place_area)"/>
    </include>

    ### recognition
    <include file="$(find mbzirc2020_task2_tasks)/launch/recognition.launch">
      <arg name="config_dir" value="$(find mbzirc2020_task2_common)/config/challenge/$(arg world)"/>
      <arg name="object_color" value="$(arg object_color)"/>
      <arg name="external_manager" value="true"/>
      <arg name="manager" value="rs_d435/realsense2_camera_manager"/>
    </include>

    ### communication to ground station
    <include file="$(find mbzirc2020_task2_common)/launch/communication/communication2ground_station.launch">
      <arg name="robot_ns" value="$(arg robot_ns)"/>
    </include>
  </group>

  <node pkg="rosservice" type="rosservice" name="set_move_base_log_level" args="call --wait /hydrus/task2_recognition_manager/set_logger_level 'ros' 'Fatal'" />

</launch>
