<launch>
  <!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"> -->
  <!--   <arg name="camera" value="rs_d435"/> -->
  <!-- </include> -->

  <include file="$(find opencv_apps)/launch/hls_color_filter.launch">
    <arg name="image" value="/rs_d435/color/image_rect_color"/>
    <arg name="h_limit_max" value="37"/>
    <arg name="h_limit_min" value="325"/>
    <arg name="l_limit_max" value="251"/>
    <arg name="l_limit_min" value="1"/>
    <arg name="s_limit_max" value="255"/>
    <arg name="s_limit_min" value="72"/>
    <arg name="debug_view" value="true"/>
  </include>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
</launch>
