<launch>
  <arg name="model_suffix" default="_ring_gripper"/>
  <arg name="robot_ns" default="hydrus"/>
  <!--arg name="config_dir" default="$(find mbzirc2020_task2_simulation)/config/simulation_default"/-->
  <!--arg name="config_dir" default="$(find mbzirc2020_task2_common)/config/challenge/kashiwa_202002_mbzirc2020"/-->
  <!--arg name="config_dir" default="$(find mbzirc2020_task2_common)/config/challenge/abudhabi_202002"/-->
  <arg name="config_dir" default="$(find mbzirc2020_task2_common)/config/challenge/kashiwa_202009"/>
  <arg name="object_color" default="red"/>

  <param name="/use_sim_time" value="true"/>

  ###########  Robot Model  ###########
  <include file="$(find aerial_robot_model)/launch/aerial_robot_model.launch" >
    <arg name="headless" value="false" />
    <arg name="robot_model" value="$(find mbzirc2020_task2_common)/robots/hydrus$(arg model_suffix).gazebo.xacro"/>
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="model_options" value="horizontal_vio:=0" />
    <arg name="rviz_config" value="$(find mbzirc2020_task2_common)/launch/debug/rosbag_replay_rviz_config"/>
    <arg name="rviz_init_pose" value="$(find mbzirc2020_common)/config/RvizInit.yaml" />
    <arg name="need_joint_state" value="false"/>
  </include>

  <group ns="$(arg robot_ns)">
    <node pkg="nodelet" type="nodelet" name="cloudify" output="screen"
          args="standalone depth_image_proc/point_cloud_xyzrgb" >
      <remap from="rgb/camera_info" to="rs_d435/color/camera_info"/>
      <remap from="rgb/image_rect_color" to="rs_d435/color/image_rect_color"/>
      <remap from="depth_registered/image_rect" to="rs_d435/aligned_depth_to_color/image_raw"/>
      <remap from="depth_registered/points" to="rs_d435/depth_registered/points"/>
    </node>

    <include file="$(find mbzirc2020_task2_common)/launch/debug/tile_images.launch"/>

    <include file="$(find mbzirc2020_task2_common)/launch/debug/image_republish.launch"/>

    <include file="$(find mbzirc2020_task2_tasks)/launch/recognition.launch">
      <arg name="config_dir" value="$(arg config_dir)"/>
      <arg name="object_color" value="$(arg object_color)"/>
      <arg name="need_voxel_grid" value="true"/>
    </include>

    <param name="rectangle_detection_color/debug_view" value="true"/>
    <param name="rectangle_detection_depth/debug_view" value="true"/>

  </group>


  <node pkg="mbzirc2020_task2_common" type="base_footprint_tf_publisher.py" name="base_footprint_tf_publisher" ns="$(arg robot_ns)">
    <param name="robot_ns" value="$(arg robot_ns)"/>
  </node>

  <include file="$(find mbzirc2020_task2_common)/launch/additional/gps_tf_publisher.launch">
    <arg name="robot_ns" value="$(arg robot_ns)"/>
  </include>
</launch>
