<launch>
  <arg name="GROUND_STATION_IP" default="192.168.1.10" />
  <arg name="UAV_IP" default="$(env ROS_IP)" />
  <arg name="HIGH_PORT1" default="16484" />
  <arg name="HIGH_PORT2" default="8192" />
  <arg name="LOW_PORT" default="1024" />
  <arg name="image_pub_throttle_rate" default="5" />

  ### UAV to GroundStation
  <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py" name="highspeed_streamer" >
    <param name="message" value="mbzirc2020_task1_tasks/FC2OCSData" />
    <param name="to_ip" value="$(arg GROUND_STATION_IP)" />
    <param name="to_port" value="$(arg HIGH_PORT1)" />
    <param name="send_rate" value="$(arg image_pub_throttle_rate)" />
    <param name="bandwidth" value="50000000" /> <!-- too big? 2000000 is normal? -->
    <param name="packet_size" value="1000" />
  </node>

  ### GroundStation to UAV
  <node pkg="jsk_network_tools" type="silverhammer_lowspeed_receiver.py" name="lowspeed_receiver">
    <remap from="~output" to="/task1_motion_state_machine/task1_start" />
    <param name="message" value="std_msgs/Empty" />
    <param name="receive_ip" value="$(arg UAV_IP)" />
    <param name="receive_port" value="$(arg LOW_PORT)" />
    <param name="receive_buffer_size" value="1000" />
  </node>

  ### GroundStation to UAV
  <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py" name="receiver">
    <param name="message" value="mbzirc2020_task1_tasks/OCS2FCData" />
    <param name="receive_ip" value="$(arg UAV_IP)" />
    <param name="receive_port" value="$(arg HIGH_PORT2)" />
    <param name="topic_prefix" value="" />
  </node>


</launch>
