<?xml version="1.0"?>
<launch>
  <arg name="headless" default="true" />
  <arg name="vision" default="true" />
  <node pkg="mbzirc2020_task1_tasks" type="ransac_line_fitting_node" name="ransac_line_fitting_node" output="screen" >
    <param name="target_point_sub_topic_name" value="/treasure/point_detected"/>
    <param name="cand_points2d_initial_size" value="15"/>
    <param name="cand_points3d_initial_size" value="15"/>
    <param name="cand_points2d_max_size" value="60"/>
    <param name="cand_points3d_max_size" value="60"/>
    <param name="ransac_3d_mode" value="False"/>
    <param name="target_point_maximum_disappear_time" value="0.8"/>
    <param name="target_close_distance_threshold" value="1.0"/>
    <param name="yaw_diff_threshold" value="1.5"/>
    <param name="experiment_safety_z_offset" value="-0.45"/>
    <rosparam file="$(find mbzirc2020_task1_tasks)/config/reactive_motion.yaml" command="load" />
  </node>

  <group if="$(arg vision)">
    <node pkg="mbzirc2020_task1_tasks" type="target_world_pose_node" name="target_world_pose_node"  output="screen">
      <remap from ="target_local_pos"  to="ball_pos" />
      <remap from ="uav_odom"  to="/uav/baselink/odom" />
      <remap from ="target_pos_world"  to="/treasure/point_detected" />
      <param name = "baselink_frame" value = "fc" />
    </node>
  </group>

  <group unless="$(arg headless)">
    <include file="$(find mbzirc2020_task1_tasks)/launch/ransac_visualization.launch" >
    </include>
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mbzirc2020_task1_tasks)/config/task1_ransac_vis.rviz" /> -->
  </group>

</launch>
